{{cookiecutter.requirements_django}}
{{cookiecutter.requirements_gunicorn}}
{{cookiecutter.requirements_psycopg2}}
{{cookiecutter.requirements_honcho}}
{{cookiecutter.requirements_dj-database-url}}
{{cookiecutter.requirements_django-cms}}
{{cookiecutter.requirements_django-classy-tags}}
{{cookiecutter.requirements_html5lib}}
{{cookiecutter.requirements_django-mptt}}
{{cookiecutter.requirements_django-sekizai}}
{{cookiecutter.requirements_djangocms-admin-style}}
{{cookiecutter.requirements_djangocms-text-ckeditor}}
{{cookiecutter.requirements_pillow}}
{{cookiecutter.requirements_django-filer}}
{{cookiecutter.requirements_cmsplugin-filer}}
{{cookiecutter.requirements_django-reversion}}
{{cookiecutter.requirements_django-crispy-forms}}
{{cookiecutter.requirements_crispy-forms-foundation}}
{{cookiecutter.requirements_dj-libcloud}}
{{cookiecutter.requirements_django-braces}}
