{{cookiecutter.requirements_django}}
{{cookiecutter.requirements_gunicorn}}
{{cookiecutter.requirements_psycopg2}}
{{cookiecutter.requirements_honcho}}
{{cookiecutter.requirements_boto}}
{{cookiecutter.requirements_dj_database_url}}
{{cookiecutter.requirements_dj_static}}
{{cookiecutter.requirements_django_cms}}
{{cookiecutter.requirements_django_parler}}
{{cookiecutter.requirements_django_classy_tags}}
{{cookiecutter.requirements_html5lib}}
{{cookiecutter.requirements_django_treebeard}}
{{cookiecutter.requirements_django_sekizai}}
{{cookiecutter.requirements_djangocms_admin_style}}
{{cookiecutter.requirements_djangocms_text_ckeditor}}
{{cookiecutter.requirements_djangocms_link}}
{{cookiecutter.requirements_pillow}}
{{cookiecutter.requirements_easy_thumbnails}}
{{cookiecutter.requirements_djangocms_picture}}
{{cookiecutter.requirements_django_filer}}
{{cookiecutter.requirements_cmsplugin_filer}}
{{cookiecutter.requirements_django_reversion}}
{{cookiecutter.requirements_django_extensions}}
{{cookiecutter.requirements_django_braces}}
{{cookiecutter.requirements_django_debug_toolbar}}
{{cookiecutter.requirements_django_taggit}}
